
:root {
    --header-bg: #1f3429;
    --font: #EDE0D4;
     --white: #d7d7d7;
}




.upimgBED{
    background-image: url("./img/bedroomUpper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font);
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.row img{
    max-width: 100%;
}
.text1{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*csak ezeket adtam hozzá, a living room css-be láttam hogy van több is, de kommentbe vannak, úgyhogy gondolom nem szükségesek*/


.zoom-img {
    overflow: hidden;
    width: 100%; /* Adjust this width to match the image width */
    height: auto; /* Maintain aspect ratio */
}

.zoom-img img {
    transition: transform 0.4s ease;
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Maintain aspect ratio */
}

.zoom-img:hover img {
    transform: scale(1.1);
    width: 100%;
}

.ncDos{
    background-color: #fff7f2;

}



@media only screen and (max-width: 991px) {
    .ncDos{
        margin-top: 0;
    }
  }

