
:root {
    --header-bg: #1f3429;
    --font: #EDE0D4;
     --white: #d7d7d7;
}




.upimgBED{
    background-image: url("./img/bedroomUpper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font);
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.row img{
    max-width: 100%;
}
.text1{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*csak ezeket adtam hozzá, a living room css-be láttam hogy van több is, de kommentbe vannak, úgyhogy gondolom nem szükségesek*/


.zoom-img {
    overflow: hidden;
    width: 100%; /* Adjust this width to match the image width */
    height: auto; /* Maintain aspect ratio */
}

.zoom-img img {
    transition: transform 0.4s ease;
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Maintain aspect ratio */
}

.zoom-img:hover img {
    transform: scale(1.1);
    width: 100%;
}

.ncDos{
    background-color: #fff7f2;
<<<<<<< HEAD
=======

>>>>>>> 203066bfded517f56404458b6c78ce79f548e4b1
}
@media only screen and (max-width: 991px) {
    .ncDos{
        margin-top: 0;
    }
  }

  .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#1f3429;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }

