.headimg {
    background-image: url("./img/livingBig.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.row img{
    max-width: 100%;
}
.row .firsttext{
    padding-top: 10rem;
}
.row{
    padding-bottom: 1rem;
}
body{
    background-color: #d7d7d7;;
}

.container{
    padding: 2rem;
}

#shop{
    padding: ;
}