/* *{
    margin: 0;
} */
.headimg {
    background-image: url("./img/livingBig.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.row img{
    max-width: 100%;
    /* padding: 0; */
}
/* .row .firsttext{
    padding-top: 10rem;
}
.row{
    padding-bottom: 1rem;
}
body{
    background-color: #d7d7d7;;
}

.container{
    margin-left: 7,5rem;
    margin-right: 7,5rem;
}

.nc{
    padding-left: 0;
    padding-right: 0;
}

*/

.text1{
    display: flex;
    align-items: center;
    justify-content: center;
} 


@media only screen and (max-width: 991px) {
    .text1{
        padding: 10px;
    }
  }

