#check,
#thx {
    background-color: var(--header-bg);
    color: var(--font);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 40px;
    transition: 0.3s;
    font-size: 5vh;
    row-gap: 1.10;

}

#check:hover,
#thx:hover {
    color: var(--header-bg);
    background-color: var(--font);



}

.cont {
    padding: 20px;
    margin: 20px;
    text-align: center;
}

#input1 {
    max-width: 100%;
    font-size: 40px;
    height: 80px;
    color: black;
    border-radius: 40px;


}

img {
    max-width: 100%;
    padding: 20px;
    width: 100vh;
    border-radius: 50px;
}

#sícorrecto {
    background-color: #1f3429;
    color: white;
    width: 40vh;
    padding: 30px;
    position: fixed;
    top: 40vh;
    left: 50vh;
    right: 50vh;
    display: none;
}
#output1{
    padding: 10px;
    text-align: center;
}

#clue{
    width: 60%;
    display: none;
    margin: 0 auto;
}