* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: "Manrope", sans-serif;
}
:root {
    --header-bg: #1f3429;
    --font: #EDE0D4;
     --white: #d7d7d7;
}

 header .fixed-top {
    background-color: var(--header-bg); 

} 

header {
    background-color: var(--header-bg);
    
    
    
}
#indheader{
    margin-top: 50px;
    
}

header a {
    color: var(--font) !important;
}

header a:hover {
    color: #E6CCB2 !important;
} 





.upimg {
    background-image: url("./img/pexels-designecologist-1005058.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font);
    background-color: var(--white);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    

}

#hedbut {
    background-color: var(--header-bg);
    color: var(--font);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
    transition: 0.3s;

}

.uptext {}

#hedbut:hover {
    color: var(--header-bg);
    background-color: var(--font);
    
    
    
}

/*main*/
.sec1 {
    text-align: center;
    
}


.nc h2 {
    color: var(--header-bg);
}
.nc a{
    text-decoration: none;
    color: var(--font);
}

.nc img {
    padding: 0.8vh; 
}

.image-container {
    position: relative;
    overflow: hidden;
}

.blurry-image {
    width: 100%;
    transition: filter .3s;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--font);
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.5s;
}

.image-container:hover .blurry-image {
    filter: blur(6px);
}

.image-container:hover .image-text {
    opacity: 1;
}

.nc{
    padding: 10vh;
   
}


.col-12{
    padding: 0px;
}

.navbar-toggler{
    border-width: 0px;
}


/* .prods{
    height: 80vh;
    background-color: #7B777A;
    margin-bottom: 10vh;
}
 */

footer{
/*      height: 12vh;
    background-color: var(--header-bg);
    color: var(--font);
    padding: 50px 40vh;
    text-align: center;
    color: var(--font);  */
    
    
}
footer a{
/*     color: var(--font);
    text-decoration: none; */
}
.prods{
    text-align: center;
    padding-bottom: 10vh;
}



@media only screen and (max-width: 991px) {
    .nc{
        padding: 10px;
    }
  }



